.env
node_modules
node_modules
.env
contract-addresses.json
# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types
.env
# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
